<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="callout primary">
      <div class="row column">
        <h1 class="logo">Let's get Collaborating!</h1>
        <p class="lead">Create a new guild on <span class="logo-inline">GuildCoder</span> to unite your group and better collaborate on your projects!</p>
      </div>
    </div>
    <div class="large-centered">
      {{#if error_message}}
        <!-- Error Message Alert -->
        <div class="callout alert">
          <p aria-errormessage>{{error_message}}</p>
        </div>
      {{/if}}
      {{#if user}}
        <form method="post" action="/guild/create">
          <div class="row column">
            <div class="medium-6 column">
              <label>Guild Name
                <input type="text" name="name" placeholder="My Awesome Guild" required>
              </label>
            </div>
            <div class="medium-6 column">
              <label>Short Description
                <input type="text" name="description_short" placeholder="A short description of the guild to show on the guild list." required>
              </label>
            </div>
            <div class="medium-6 column">
              <label>Description
                <input type="text" name="description" placeholder="A full description of what your guild hopes to achieve together." required>
              </label>
            </div>
            <div class="medium-6 column">
              <label>Guild Website
                <input type="text" name="website" placeholder="https://example.com" required>
              </label>
            </div>
            <div class="medium-6 column">
              <label>Contact Email (optional)
                <input type="email" name="email" placeholder="myguild@example.com">
              </label>
            </div>

            <input type="submit" class="button expanded" value="Create Guild">
            <p>By clicking "Create Guild", you agree that your guild complies with our <a href="/terms">Terms and Conditions</a>.</p>
          </div>
        </form>
      {{else}}
        <div class="row column">
          <p>Please <a href="/login">Log In</a> or <a href="/register">Sign Up</a> to create a new guild.</p>
        </div>
      {{/if}}
    </div>
  </div>
</div>



