<div class="off-canvas-wrapper">
  <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
    <div class="row">
      <div class="large-centered">
        <h2>{{title}}</h2>
        <hr />
        <p>
          <em>Last updated on {{last_update}}.</em>
        </p>
        <div>
          <h3>Who we are</h3>
          <p>
            Zandercraft is an online media company that provides a variety of services including entertainment via our YouTube and Twitch channels, Minecraft servers, computer programs and Minecraft modpacks.
          </p>
        </div>
        <div>
          <h3>
            What personal data we collect and why we collect it
          </h3>
          <p></p>
          <div>
            <h4>Comments</h4>
            <p>
              When visitors leave comments on our site we collect the data shown in the comments form, as well as the visitor’s IP address and browser user agent string in order to help with spam detection.
            </p>
          </div>
          <div>
            <h4>Media</h4>
            <p>
              If you upload images to our website, you should avoid uploading images with embedded location data (EXIF GPS) included. Visitors to the website can download and extract any location data from images on the website. You are responsible for making sure that any images and/or other forms of media you upload to our site do not contain data you do not wish to be on the open internet. By uploading files to our site, you agree that you have the right to upload them and that we cannot be held responsible for them or any consequences pertaining to them.
            </p>
          </div>
          <div>
            <h4>Contact Forms</h4>
            <p>
              Our site utilizes contact forms and live support chats to provide help to our customers. Any information you enter into these forms will be sent by email to us and may be saved in our logs for spam-control and security purposes. The data you submit through our live chat is sent to Tawk.to and is subject to their privacy policies and terms of service. Data submitted through our email contact forms is sent through multiple endpoints, as all emails are. By submitting information through our live chat or email contact forms, you agree that all support is provided as-is and without warranty.
            </p>
          </div>
          <div>
            <h4>Cookies</h4>
            <p>
              If you visit our login page, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.
              <br /><br />
              When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select “Remember Me”, your login will persist for two weeks. If you log out of your account, the login cookies will be removed.
            </p>
          </div>
          <div>
            <h4>Embedded Content From Other Websites</h4>
            <p>
              Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.
              <br /><br />
              These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracking your interaction with the embedded content if you have an account and are logged in to that website.
            </p>
          </div>
          <div>
            <h4>Analytics</h4>
            <p>
              Some analytic data is sent to third parties when you access our website. Analytic data is collected via a first-party tracking solution hosted by us to get a better understanding of our customer-base and where we can improve our services. We will not try to stop you from accessing our websites for blocking these trackers. We respect your right to privacy and will not block you from accessing our website on the basis of use of tracking and ad blockers.
            </p>
          </div>
        </div>
        <div>
          <h3>
            Who we share your data with
          </h3>
          <p>We do not share user data apart from what is publicly accessible on our site with any other companies.</p>
        </div>
        <div>
          <h3>
            How long we retain your data
          </h3>
          <p>
            If you leave a comment, the comment and its metadata are retained indefinitely. This is so we can recognize and approve any follow-up comments automatically instead of holding them in a moderation queue.
            <br /><br />
            For users that register on our website (if any), we also store the personal information they provide in their user profile. All registered users can see, edit, or delete certain personal information at any time (except they cannot change their username), however we reserve the right to keep data that pertains to the security of our website and organization including IP addresses and geo-ip data. This data helps us prevent attacks against our websites and infrastructure. Website administrators can also see and edit most personal information that you submit to our website.
          </p>
        </div>
        <div>
          <h3>
            What rights you have over your data
          </h3>
          <p>
            If you have an account on this site, or have left comments, you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes.
          </p>
        </div>
        <div>
          <h3>
            Where we send your data
          </h3>
          <p>
            Visitor comments may be checked through an automated spam detection service. Emails and messages sent through our support systems are kept on our own servers, although they may be sent to third parties for security and/or spam detection purposes.
          </p>
        </div>
        <div>
          <h3>
            Additional Information
          </h3>
          <p></p>
          <div>
            <h4>How we protect your data</h4>
            <p>
              Minimal personal data is kept on our servers so that in the event of a data breach, it will not have much consequence. In addition to this, we have automated firewalls running to ensure that attackers are blocked from accessing our servers. Most sensitive data is kept encrypted so that in the event of a breach, it will not be easily cracked.
            </p>
          </div>
          <div>
            <h4>What data breach procedures we have in place</h4>
            <p>
              If a data breach is detected, our servers will be taken offline and temporary servers will continue to serve our site statically without dynamic elements that can easily be breached. The servers will then be inspected, only coming back online when we are sure that the issue that was exploited is fixed. Information will be sent to HIBP (Have I Been Pwned) about the breach so that clients can be notified of the breach of their data.
            </p>
          </div>
          <div>
            <h4>What automated decision-making and/or profiling we do with user data</h4>
            <p>
              Our firewalls automatically block malicious traffic and attacks. Data is collected on any user blocked on our website so that they can be reported to the appropriate authorities.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



